# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.turbo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# PWA
apps/web/dev-dist
